Flask==1.1.2
flask-cors==3.0.8
logging
google-auth
google-api-python-client
google-auth-httplib2
google-cloud-pubsub
pyjwt==1.7.1
requests==2.23.0
requests-toolbelt==0.9.1
RPi.GPIO
werkzeug==1.0.1

wireless
netifaces
psutil
pyaccesspoint==0.2.5
packaging